<div class="container-fluid">
  <span class="showdate">Date: <%= @date.date %></span>
  <%= link_to " <i class=\"fas fa-wrench editshow\"></i> ".html_safe, edit_date_path(@date) %>

  <br><br>

  <div class="row">
    <div class="col">
      <%= form_for @record, url: date_records_path(date_id: @date.id), method: :post do |f| %>
      <%= f.number_field :time_start, class: "form-control", placeholder: "Time Start" %>
    </div>

    <div class="col">
      <%= f.number_field :time_end, class: "form-control", placeholder: "Time End" %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="container-fluid">
      <%= f.select :zone, [
        ['Hay Feeder Box Front', 1], 
        ['Grass Feeder Box', 2], 
        ['Hay Feeder Box Pool', 3], 
        ['Feedpod', 4], 
        ['Exhibit Left Facing', 5], 
        ['Exhibit Right Facing', 6], 
        ['Exhibit BOH Facing', 7]], 
        {}, {class: "form form-group form-control", size: "7"} %>
    </div>
  </div>

  <div class="row">
    <div class="container-fluid">
      <%= f.select :activity, [
        ['Feeding', 'Feeding'],
        ['Other', 'Other']],
        {}, {class: "form form-group form-control", size: "2"} %>
    </div>
  </div>

  <div class="row">
    <div class="container-fluid">
      <%= f.submit "Add Record", class: "btn btn-dark btn-lg btn-block" %>
    </div>
  </div>

  <% end %>

  <hr>

  <% @records.each do |record| %>
    From: <%= record.time_start %>
    To: <%= record.time_end %>
    Time: <%= record.total %> mins
    Zone: <%= record.zone %>
    Activity: <%= record.activity %>

    <%= link_to "<i class=\"fa fa-trash-alt trash\"></i> ".html_safe, date_record_path(date_id: @date.id, id: record.id), method: :delete %><br>
  <% end %>

</div>