<div class="container-fluid">
  <span class="showdate">WITH Feedpod Date: <%= @date.date %></span>
  <%= link_to " <i class=\"fas fa-wrench editshow\"></i> ".html_safe, edit_feedpod_date_path(@date) %>

  <br><br>

<!-- ////////////////////////////// form ///////////////////////////-->

  <div class="row">
    <div class="col">
      <%= form_for @feedpodrecord, url: feedpod_date_feedpod_records_path(feedpod_date_id: @date.id), method: :post do |f| %>
      <%= f.label :time_start %>
      <%= f.number_field :time_start, class: "form-control", placeholder: "eg. 1930" %>
    </div>

    <div class="col">
      <%= f.label :time_end %>
      <%= f.number_field :time_end, class: "form-control", placeholder: "eg. 2045" %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="container-fluid">
      <%= f.label :Location %>
      <%= f.select :zone, [
        ['Hay Feeder Box Front', 'Hay Feeder Box Front'], 
        ['Grass Feeder Box', 'Grass Feeder Box'], 
        ['Hay Feeder Box Pool', 'Hay Feeder Box Pool'], 
        ['Feedpod', 'Feedpod'],
        ['Front of exhibit', 'Front of exhibit'],
        ['Exhibit Left Facing', 'Exhibit Left Facing'], 
        ['Exhibit Right Facing', 'Exhibit Right Facing'], 
        ['Exhibit BOH Facing', 'Exhibit BOH Facing']], 
        {}, {class: "form form-group form-control", size: "8"} %>
    </div>
  </div>

  <div class="row">
    <div class="container-fluid">
      <%= f.label :Activity %>
      <%= f.select :activity, [
        ['Feeding', 'Feeding'],
        ['Scatter Feed', 'Scatter Feed'],
        ['Other', 'Other']],
        {}, {class: "form form-group form-control", size: "3"} %>
    </div>
  </div>

  <div class="row">
    <div class="container-fluid">
      <%= f.submit "Add Record", class: "btn btn-success btn-lg btn-block" %>
    </div>
  </div>

  <% end %>

  <hr>

  <!-- //////////////////////// records for the day /////////////////////////  -->

  <table class="table table-striped table-dark">
    <thead class="thead">
      <tr>
        <th scope="col">TIME START</th>
        <th scope="col">TIME END</th>
        <th scope="col">TIME TOTAL</th>
        <th scope="col">ZONE</th>
        <th scope="col">TIME ACTIVITY</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <% @feedpodrecords.each do |record| %>
    <tbody>
      <tr>
        <td><%= record.time_start %></td>
        <td><%= record.time_end %></td>
        <td><%= record.total %> mins</td>
        <td><%= record.zone %></td>
        <td><%= record.activity %></td>
        <td><%= link_to "<i class=\"fa fa-trash-alt trash\"></i> ".html_safe, feedpod_date_feedpod_record_path(feedpod_date_id: @date.id, id: record.id), method: :delete %></td>
      </tr>
    </tbody>
    <% end %>
  </table>

</div>